<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrap">
      <div id="top"></div>

      <div id="content">
	{{ content }}
      </div>

      <div id="footer">
	<div id="hcard-John-Barnette" class="vcard">
	  <a class="url fn" href="http://twitter.com/jbarnette">John Barnette</a>
	  <a class="email" href="mailto:jbarnette@gmail.com">jbarnette@gmail.com</a>

	  <div class="adr">
	    <div class="street-address">3658 Dayton Avenue N #302</div>
	    <span class="locality">Seattle</span>,
	    <span class="region">WA</span>,
	    <span class="postal-code">98103</span>
	    <span class="country-name">USA</span>
	  </div>

	  <div class="tel">+1 206 724 2923</div>
	</div>
      </div>
  </body>
</html>
