<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
	<h1><a href="/">John Barnette</a></h1>
	
	<ul class="presence">
	  <li><a href="/about.html">about</a></li>
	  <li><a href="mailto:jbarnette@gmail.com">email</a></li>
	  <li><a href="http://twitter.com/jbarnette">twitter</a></li>
	  <li><a href="http://github.com/jbarnette">github</a></li>
	</ul>
      </div>

      <div id="content">
	{{ content }}
      </div>

      <div id="footer">
	<div id="hcard-John-Barnette" class="vcard">
	  <span class="fn">John Barnette</span>
	  <div class="email">jbarnette@gmail.com</div>

	  <div class="adr">
	    <div class="street-address">3658 Dayton Avenue N #302</div>
	    <span class="locality">Seattle</span>,
	    <span class="region">WA</span>,
	    <span class="postal-code">98103</span>
	    <span class="country-name">USA</span>
	  </div>

	  <div class="tel">+1 206 724 2923</div>
	</div>

	<a class="feed" href="#">
	  <img src="/images/feed.png" width="28" height="28" alt="Feed" />
	</a>
      </div>
  </body>
</html>
