<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="/">John Barnette</a></h1>
        {% include presence.html %}
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="footer">
        <div id="hcard-John-Barnette" class="vcard">
          <span class="fn">John Barnette</span>
          <div class="email">blog@jbarnette.com</div>

          <div class="adr">
            <div class="street-address">5814 Willow Street</div>
            <span class="locality">New Orleans</span>,
            <span class="region">LA</span>,
            <span class="postal-code">70115</span>
            <span class="country-name">USA</span>
          </div>

          <div class="tel">+1 504 383 4178</div>
        </div>

        {% include feed.html %}
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
